* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  /* overflow-x: hidden; */
}
p {
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
